@font-face { font-family: “Sazanami Gothic”; src: url(‘default.ttf’);}
.grid{
display:flex;
justify-content: center;
align-items: center;
}

.container {
line-break: auto;
width: 50%;
color:white;
font-family: "Sazanami Gothic";
font-size: 18pt;
}

html {
background: url('Images/Background.png')no-repeat center center fixed;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.grid-container {
display: grid;
grid-template-columns: 384px 384px 384px;
justify-content: center;
}

.menu-container {
display: grid;
grid-template-columns: auto;
padding: 5px;
}

.menu-item {
padding: 5px;
}